:root {
  --yellow-color: #edbf69;
  --green-color: #38cc77;
  --yellow-light-color: #e5d68a;
  --red-color: #ff6263;
  --dark-blue-color: #03203c;
}

body {
  height: 100%;
  margin: 0px;
}
.list-non-bullet {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--dark-blue-color);
}
span {
  background-color: var(--green-color);
  border-radius: 2rem;
  padding: 0.3rem;
}

.list-item-inline {
  display: inline;
  margin-right: 2rem;
}
.link-active {
  background-color: var(--green-color);
  padding: 0.3rem 0.7rem;
  border-radius: 2rem;
}

/* section */
section {
  margin-top: 1rem;
}
.container {
  margin: 0 auto;
  margin-top: 1rem;
  padding: 2rem;
  width: 80%;
  border-radius: 3rem;
}

.blog-section {
  margin: 2rem 0rem;
}
.blog-btn {
  background-color: var(--red-color);
  border: #ff6263;
  padding: 0.6rem 1.3rem;
  border-radius: 3rem;
}

/* navbar */
.navigation {
  display: flex;
  background-color: var(--yellow-color);
  padding: 1rem;
}
.nav-brand {
  font-size: larger;
}
.nav-pills {
  margin: auto;
  margin-top: 0.4rem;
  font-size: larger;
}
footer {
  margin-top: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--yellow-color);
}
.footer-header {
  display: block;
  text-align: center;

  font-size: large;
}
.social-links {
  padding-top: 1rem;
}
footer {
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;

  background-color: var(--yellow-color);
}
.footer-header {
  display: block;
  text-align: center;

  font-size: large;
}
.social-links {
  padding-top: 1rem;
}
