body {
  margin: 0px;
}
:root {
  --yellow-color: #edbf69;
  --green-color: #38CC77;
  --yellow-light-color: #e5d68a;
  --red-color: #ff6263;
  --dark-blue-color: #03203C;
}
a {
  text-decoration: none;
  color:var(--dark-blue-color) ;

}
.link-active{
  background-color: var(--green-color);
  padding: .3rem .7rem;
  border-radius: 2rem;
}
/* lists */
.list-non-bullet {
  list-style: none;
}
.list-item-inline {
  display: inline;
  margin-right: 2rem;
}
/* navbar */
.navigation {
  display: flex;
  background-color: var(--yellow-color);
  padding: 1rem;
}
.nav-brand {
  font-size: larger;
}
.nav-pills {
  margin: auto;
  margin-top: 0.4rem;
  font-size: larger;
}

/* hero */
.hero {
  text-align: center;
  margin: 1rem 0rem;
}

/* project section */
.container {
  width: 80%;
  margin: auto;
}

article h1 {
  margin: 0.8rem 0rem;
}
.mark-tag {
  border-radius: 1rem
}
.green-tag {
  background-color: var(--green-color);
  color:white;
  padding: .3rem;
  margin-right: 0.7rem;
  margin-bottom :0.3rem ;

}
.time {
  margin-left: 2rem;
  margin-bottom: 2rem;
}

article p {
  margin: 1rem 0rem;
}
article a {
  padding: 0.3rem;
  background-color:var(--red-color);
  border-radius: 1rem;
  margin-left: 1rem;
  color: white;
}


/* footer */
footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background-color: var(--yellow-color);
  text-align: center;
  padding: 0.3rem 0rem;
}
.footer-header {

  margin-bottom: 1rem;
  font-size: larger;
}
