body {
  margin: 0;
}
:root {
  --yellow-color: #edbf69;
  --green-color: #38CC77;
  --yellow-light-color: #e5d68a;
  --red-color: #ff6263;
  --dark-blue-color: #03203c;
}
a {
  text-decoration: none;
  color: var(--dark-blue-color);
}

h2 {
  margin: 0.5rem;
  padding: 0;
}

.container-center {
  max-width: 72%;
  margin: auto;
  padding: 1rem;
}

/* lists */
.list-non-bullet {
  list-style: none;
}
.list-item-inline {
  display: inline;
  margin-right: 2rem;
}
.link-active {
  background-color: var(--green-color);
  padding: 0.3rem 0.7rem;
  border-radius: 2rem;
}
/* navbar */
.navigation {
  display: flex;
  background-color: var(--yellow-color);
  padding: 1rem;
}
.nav-brand {
  font-size: larger;
}
.nav-pills {
  margin: auto;
  margin-top: 0.4rem;
  font-size: larger;
}

/* Header section */
.hero-img {
  max-width: 70%;
  display: block;
  margin: 0 auto;
  background-color: var(--red-color);
  margin-top: 2rem;
  border-radius: 45%;
}

.hero .hero-heading {
  text-align: center;
  padding-top: 1rem;
}
/* Intro scection  */
.section {
  /* margin:rem ; */
  width: 100%;
  display: block;
}
.bg-yellow {
  background-color: var(--yellow-light-color) !important;
  border-radius: 2rem;
}
.section-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem;
}
.section h1 {
  text-align: center;
}
footer {
  margin-top: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--yellow-color);
}
.footer-header {
  display: block;
  text-align: center;

  font-size: large;
}
.social-links {
  padding-top: 1rem;
}
