:root {
  --blue-color: #207398;
  --sky-blue-color: #51e1ed;
  --dark-blue-color: #03203c;
  --green-glow: #51ff0d;
}
body {
  margin: 0;
  /* background-color: var(--dark-blue-color); */
  background-color: #207398;
  color: var(--dark-blue-color);
}
a {
  text-decoration: none;
  color: var(--dark-blue-color);
  color: var(--green-glow);
}
span{
    color: #3944F7;
    font-weight: bold;
    /* background-color:#FF6263; */
}
h1{
    color: #B4161B;
}
nav {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  /* background-color: #03203C; */
  /* margin-top: 2rem; */
}
nav h1 {
  margin-top: 1.9rem;
}
.link-active {
  background-color: black;
  color: var(--green-glow);
  padding: 0.3rem 0.7rem;
  border-radius: 2rem;
}

.list-item-inline {
  display: inline;
  margin-right: 2rem;
}

.nav-brand {
  font-size: larger;
}
.nav-pills {
  margin: auto;
  margin-top: 2rem;
  font-size: larger;
}
/* header  */
.hero-heading{
    background-color:var(--sky-blue-color) ;
    text-align: center;
    padding: 2.4rem;
    border-radius: 70% 10% 50% 7%;
    color: #B4161B;
    font-weight: bolder;
    font-size: larger;
}
/* project section */

.container-center {
  max-width: 600px;
  margin: auto;
}

.green-tag {
  background-color: var(--green-color);
  color: white;
  padding: 0.3rem;
  margin-right: 0.7rem;
  margin-bottom: 0.3rem;
}
/* artice  */
.color-one {
  background-color: #e5d68a;
  border-radius: 1rem;
  text-align: center;
  margin: 1.2rem 0rem !important;
}
.color-two {
  background-color: #CE6A;
  border-radius: 1rem;
  text-align: center;
  margin: 1.2rem 0rem !important;
}
/* quote  */
.quote-beautify {
  background-color: white;
  color: var(--dark-blue-color);
}
.quote-bg {
  padding: 1rem;

  border-radius: 1rem;
}
/* footer  */
footer {
  left: 0;
  bottom: 0;

  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 1380px) {
  footer {
    display: flex;
    justify-content: center;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    border-radius: 1rem;
    position: static;
    background-color: black;
  }
}

/* jam stack  */
.jam-para{
    padding: 2rem;
    color: wheat;
    font-weight: 500;
    font-size: 1.1rem;
}